<div class="container">
  <div class="row">
    <div class="col-xs-4">
        <h3>Add a review</h3>
            <%= simple_form_for [@meal, @meal_review ], remote:true  do |f| %>
                <div id="rating-form">
                    <%= f.input :rating, collection: (1..5).to_a %>
                </div>
                <%= f.input :content, as: :text %>
                <%= f.submit "Post your review", class: "btn btn-primary" %>
            <% end %>
    </div>
  </div>
</div>