// Import page-specific CSS files here.
@import "home";

.d-flex {
    display: flex !important;
    justify-content: center;
}

.form-control {
  border-radius: 25px;
}

.btn-outline-secondary {
  border-radius: 25px;
}

.btn-outline-secondary {
    color: #ffffff;
}
