<%= form_tag results_path, class: "input-group mb-3", method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Hungry...?"
  %>
  <div class="input-group-append">
    <%= submit_tag "Search",
    class: "btn btn-outline-secondary" %>
  </div>
<% end %>
