<div class="container mt-5 mb-3">
  <h1>All orders</h1>
    <ul>
      <div class="d-flex align-content-start flex-wrap">
        <% @orders.each do |order| %>
        <div class="card m-3" style="width: 18rem;">
          <img class="card-img-top" src="" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title"><%= order.meal.name %></h5>
              <p class="card-text"><%= order.meal.picture_url %>. <p><%= order.meal.price %>$</p></p>
          </div>
        </div>
        <% end %>
   </ul>
   <a class="btn btn-outline-primary rounded-lg mb-3" style="background-color: #000; color: #fff!important; border: none; border-radius: 10px;" <%= link_to "Go to the home page", root_path %></a>
</div>

