<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1490645935967-10de6ba17061?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1635&q=80);">
  <div class="container">
    <div class="search-bar">
      <div class="d-flex flex-column">
      <h1>Taste Up</h1>
      <p>Find the best food in the best places !</p>
      <%= render 'shared/searchbar' %>
      </div>
    </div>
  </div>
</div>

