.banner-restaurant {
    background-size: cover;
    background-position: center;
    padding: 30vh 0;
  }
  
  .banner-restaurant h1 {
    margin: 0;
    color: black;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 32px;
    font-weight: bold;
  }
  
  .banner-restaurant p {
    font-size: 20px;
    color: black;
    opacity: .7;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  }

  .banner-restaurant {
    background-size: cover;
    background-position: center;
    padding: 13vh 0;
    height: 350px;
   }

   .container-title-card {
    background-color: white;
    margin-bottom: 40px;
    padding: 20px;
    opacity: 0.6;
    width: 300px;
   }

   p {
       margin: 0;
   }