.carousel-control-prev-icon {
  margin-right: 151px;
  filter: invert(1);
}

.carousel-control-next-icon {
  margin-left: 128px;
  filter: invert(1);
}

#carouselRestaurants .carousel-control-prev-icon {
  margin-right: 156px;
  filter: invert(1);
}

#carouselRestaurants .carousel-control-next-icon {
  margin-left: 0px;
  filter: invert(1);
}
