.d-flex {
    display: flex !important;
    justify-content: center;
}

.form-control {
  border-radius: 25px;
  height: 55px;
  margin-top: 10px;

}

.btn-outline-secondary {
  border-radius: 25px;
  border-color: white;
}

.btn-outline-secondary {
    color: #ffffff;
}

.search-bar {
padding: 0 230px;
}
