.banner-restaurant-index {
  margin-bottom: 25px;
  background-color: $coral;
  height: 230px;
  padding: 20px;
}

.index h1 {
  text-align: center;
  text-align: center;
  margin-bottom: 25px;
  font-weight: lighter
}

.banner-restaurant-index h3 {
  color: white;
  text-align: center;
  font-weight: lighter
}
